input[type=text], input[type=submit], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1,h2 {
  text-align: center;
}

label{
  width:70%;
  padding: 12px 20px ;
  margin: 8px 0;
  font-size:18px;
}
 table{
  width: 50%;
  border-collapse: collapse;
}

table.list{
  width:100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
  background-color: #dddddd;
}

input[type=text], input[type=number] {
  width: 90%;
  padding: 12px 20px ;
  margin: 8px ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:15px;
}



a{
  cursor: pointer;
  text-decoration:solid ;
  color: #e90c04;
  margin-right: 4px;
}

label.validation-error{
  color:   red;
  font-size: 15px;
  text-align: left;
  margin: 8px 5px;
}

.hide{
  display:none;
}




* {
  box-sizing:border-box;
}



.main {
	justify-content: center;
margin: auto;
  width:60%; /* The width is 60%, by default */
}



/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
 .main {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
